.watchlist_container {
  color: #fff;
  z-index: 10000;

  /* width: 100%; */
  margin-bottom: 100px;
  padding-inline: 54px;
}
.watchlist_header {
  padding-bottom: 30px;
}
h2 {
  font-size: 1.7rem;
}
.main_view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 10px;
}
@media screen and (max-width: 768px) {
  .main_view {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 520px) {
  .main_view {
    grid-template-columns: repeat(2, 1fr);
  }
}
