.signUpScreen {
  width: 368px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}
.signUpScreen > form {
  display: flex;
  flex-direction: column;
}
.signUpScreen > form > h1,
h4 {
  text-align: left;
  margin-bottom: 25px;
}
.signUpScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.signUpScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 25px;
}
.SignUpScreen_grey {
  color: gray;
}
.SignUpScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.error {
  background-color: #e50914;
  color: #fff;
  width: max-content;
  margin: auto;
  padding: 3px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 493px) {
  .signUpScreen {
    width: 300px;
  }

  .signUpScreen > form > button {
    padding: 16px 10px;
    font-size: 0.7rem;
    cursor: pointer;
  }
  .error {
    font-size: 0.6rem;
  }
}
