.searchResultsWrapper {
  height: 100vh;
  color: #fff;
  width: 100%;
  margin-bottom: 100px;
  padding-inline: 59px;
}

.searchHeading {
  padding-bottom: 30px;
}
h2 {
  font-size: 1.7rem;
}

.searchCardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  width: 95%;
  /* display: flex;
  flex-wrap: wrap; */
}
@media screen and (max-width: 768px) {
  .dropdown {
    width: 166px;
  }
  .dropdown_signout,
  .links {
    align-items: start;
  }
}
